<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
    <a class="navbar-brand m-1" href="#">Movies UTN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/busqueda']">Listado de peliculas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pelicula/alta']">Alta pelicula</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<main role="main">
  <h2 class="text-center mt-2">Alta de actor</h2>
  <form [formGroup]="form" (ngSubmit)="altaActor()">
    <!-- <div class="custom-input-file flexCenterCenter">
        <input type="file" accept=".png,.jpg" id="inputImg" class="input-file" (change)="uploadImage($event)">
        <label class="labelInputImg flexCenterCenter" for="inputImg">Subir Imagen</label>
    </div> -->
    <div style="display: flex; justify-content: center;">
      <div class="inputContainerAlta">
          <app-input-validator [nameLabel]="'Nombre'" [condition]="form.get('name')?.hasError('required') && form.get('name')?.touched"
              [formName]="'name'" [message]="'El nombre es requerido'" 
              [inputType]="'text'" [form]="form"></app-input-validator>
              <app-input-validator [nameLabel]="'Apellido'" [condition]="form.get('lastname')?.hasError('required') && form.get('lastname')?.touched"
              [formName]="'lastname'" [message]="'El apellido es requerido'" 
              [inputType]="'text'" [form]="form"></app-input-validator>
              <div class="d-flex justify-content-center mt-3 form-group">
                  <!-- <button class="btn btn-info w-50 btnActive" [routerLink]="['/home']">←Home</button> -->
                  <button class="btn btn-success w-50 btnActive" type="submit">Save</button>
              </div>
      </div>
    </div>
</form>
</main>